
:root{
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 0.5%, #F7931A 100%);
}

header img{
    width: 151px;
    height: 24px;

}

.header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
}

.header-title-container h1{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--just-white);
}

.header-title-container p{
    margin-top: 25px;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 0.8rem;
    color: var(--soft-orange)
}