:root{
    --border-input-color: #dfe1e5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Header */

header{
    width: 100%;
    min-width: 320px;
    height: auto;
}

header .nav-box{
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

header .nav-box ul{
    list-style: none;
    display: flex;
}

header .nav-box li{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-box a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-right: 14px;
    color: black;
    cursor: pointer;
}

header .nav-box a:hover{
    text-decoration: underline;
}

header .nav-box .menu-icon,
.circle-icon{
    height: 25px;
    width: 25px;
}


/* Main */
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    text-align: center;
}


/* Principal logo */
main .main-logo{
    margin: 0 auto;
    margin-bottom: 25px;
}


/* Input */
main .main-input{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input .main-input-box{
    border-radius: 10px;
    border: 0.5px solid var(--border-input-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input .main-input-box:hover{
    box-shadow: 0 0.08rem 0.48rem 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input input{
    padding: 0 2px;
    border: none;
    outline: none;
}

main .main-input .search-icon{
    width: 1.6rem;
    height: 1.6rem;
}

main .main-input .search-icon img{
    width: 1.6rem;
    height: 1.6rem;
}

main .main-input .micro-icon{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.5rem;
}

main .main-input .micro-icon img{
    width: 1.6rem;
    height: 1.6rem;
}

main .main-input .cam-icon{
    width: 1.6rem;
    height: 1.6rem;
}

main .main-input .cam-icon img{
    width: 1.6rem;
    height: 1.6rem;
}


/* Buttons */
main .main-buttons{
    width: 100%;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 2.88rem;
    background-color: #f8f9fa;
    border: 0;
    font-size: 1.12rem;
    color: #3c4043;
    border-radius: 0.4rem;
    padding: 0 1.2rem;
    margin-right: 1.28rem;
    cursor: pointer;
    text-align: center;
}

main .main-buttons button:hover{
    border: solid 0.08rem #c6c6c6;
    box-shadow: 0 0.08rem 0.08rem #dadce0;
    color: #3c4043;
}


/* Footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    border-top: 0.5px solid #e4e4e4 ;
}

footer ul{
    display: flex;
    margin: 10px;
    list-style: none;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer a{
    margin: 0.8rem;
    text-decoration: none;
    color: #70757a;
}

footer a:hover{
    text-decoration: underline;
}