:root{
    --border-input-color: #dfe1e5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Header */

header{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: flex-end;

}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmail-link,
.imagenes-link,
.menu-icon{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-right: 14px;
    color: black;
    cursor: pointer;
}

.circle-icon-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
}

nav a:hover{
    text-decoration: underline;
}

.menu-icon{
    height: 25px;
    width: 25px;
}

.circle-icon{
    width: 40px;
}


/* Main */
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    padding: 20px;
    text-align: center;
}


/* Google logo */
.main-logo{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.main-logo img{
    width: 250px;
}


/* Input */
.main-input{
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.main-input-box{
    width: 582px;
    height: 44px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 0.8px solid var(--border-input-color);
}

.main-input-box input{
    width: 100%;
    padding: 0 2px;
    border: none;
    outline: none;
}

.main-input-box:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.icon img{
    width: 16px;
    height: 16px;
}

.icon-micro__margin{
    margin-right: 15px;
} 


/* Buttons */
.main-buttons{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #f8f9fa;
    border: 0;
    font-size: 1.4rem;
    color: #3c4043;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.google-btn{
    margin-right: 20px;
}

.main-buttons button:hover{
    border: solid 1px #c6c6c6;
    box-shadow: 0 1px 1px #dadce0;
    color: #3c4043;
}


/* Footer */
footer{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 2rem;
    background-color: #f2f2f2;
    border-top: 0.5px solid #e4e4e4 ;
}

.footer-left,
.footer-right{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
}

.footer-left__part1 li,
.footer-left__part1 li{
    text-align: start;
}

footer a{
    margin: 10px;
    text-decoration: none;
    color: #70757a;
}

footer a:hover{
    text-decoration: underline;
}